{{- if and .Values.minio.internal .Values.minio.provisioning.enabled .Values.minio.provisioning.generateUser }}
apiVersion: v1
kind: Secret
metadata:
  name: agh-minio-users-secret
type: Opaque
stringData:
  {{- if .Values.captain.secret.minio.enabled }}
  {{ .Values.captain.secret.minio.user }}: |
    username={{ .Values.captain.secret.minio.user }}
    password={{
      (
        default
          .Values.captain.secret.minio.password
          (
            include "specify-password"
              (
                dict
                  "domain" (default .Values.ingress.host "app.argushack.com")
                  "token" .Values.keygen.apiToken
                  "prefix" .Values.captain.secret.minio.secretName
              )
          )
      ) | substr 0 40
    }}
    disabled=false
    policies=readwrite
    setPolicies=false
  {{- end }}
  {{- if .Values.controller.secret.minio.enabled }}
  {{ .Values.controller.secret.minio.user }}: |
    username={{ .Values.controller.secret.minio.user }}
    password={{
      (
        default
          .Values.controller.secret.minio.password
          (
            include "specify-password"
              (
                dict
                  "domain" (default .Values.ingress.host "app.argushack.com")
                  "token" .Values.keygen.apiToken
                  "prefix" .Values.controller.secret.minio.secretName
              )
          )
      ) | substr 0 40
    }}
    disabled=false
    policies={{ .Values.controller.secret.minio.policyName }}
    setPolicies=false
  {{- end }}
  {{- if .Values.parser.secret.minio.enabled }}
  {{ .Values.parser.secret.minio.user }}: |
    username={{ .Values.parser.secret.minio.user }}
    password={{
      (
        default
          .Values.parser.secret.minio.password
          (
            include "specify-password"
              (
                dict
                  "domain" (default .Values.ingress.host "app.argushack.com")
                  "token" .Values.keygen.apiToken
                  "prefix" .Values.parser.secret.minio.secretName
              )
          )
      ) | substr 0 40
    }}
    disabled=false
    policies={{ .Values.parser.secret.minio.policyName }}
    setPolicies=true
  {{- end }}
  {{- if .Values.packet.secret.minio.enabled }}
  {{ .Values.packet.secret.minio.user }}: |
    username={{ .Values.packet.secret.minio.user }}
    password={{
      (
        default
          .Values.packet.secret.minio.password
          (
            include "specify-password"
              (
                dict
                  "domain" (default .Values.ingress.host "app.argushack.com")
                  "token" .Values.keygen.apiToken
                  "prefix" .Values.packet.secret.minio.secretName
              )
          )
      ) | substr 0 40
    }}
    disabled=false
    policies={{ .Values.packet.secret.minio.policyName }}
    setPolicies=false
  {{- end }}
{{- end }}
